mat-card {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  border-radius: 0px;

  mat-card-content {
    display: flexbox;

    .img-wrapper {
      position: relative;
      .img {
        max-height: 15rem;
      }
    }

    b {
      margin-right: 1rem;
    }

    span {
      margin-bottom: 0.5rem;
    }

    mat-form-field {
      position: relative;
      padding-top: 0rem;
      padding-bottom: 1rem;
      font-size: 18px;
      min-width: 15rem;

      .mat-label {
        padding-left: 0rem;
        color: rgb(87, 85, 85);
        font-weight: 300;
      }

      mat-hint {
        a {
          text-decoration: none;
        }
      }
    }
  }
}
