<!-- Имя -->
<mat-form-field>
  <mat-label class="mat-label">Имя</mat-label>
  <input matInput formControlName="firstName" type="text">
</mat-form-field>

<!-- Фамилия -->
<mat-form-field>
  <mat-label class="mat-label">Фамилия</mat-label>
  <input matInput formControlName="lastName" type="text">
</mat-form-field>


<!-- Email -->
<mat-form-field>
  <mat-label class="mat-label">E-mail</mat-label>
  <input matInput formControlName="email" type="email">
</mat-form-field>

<!-- Phone Number -->
<mat-form-field>
  <mat-label class="mat-label">Телефон</mat-label>
  <input matInput formControlName="phoneNumber" type="tel">
</mat-form-field>

<!-- City -->
<mat-form-field>
  <mat-label class="mat-label">Город</mat-label>
  <input matInput formControlName="city" type="text">
</mat-form-field>