<form [formGroup]="formLogin">

  <mat-form-field floatLabel="never" appearance="outline" floatLabel="always">
    <mat-label>Логин</mat-label>
    <input class="mat-input-login" matInput type="email" formControlName="inputEmailLogin"
      placeholder="username@mail.com">

    <mat-hint class="mat-hint">
      <div class="validator"
        *ngIf="formLogin.get('inputEmailLogin').touched && formLogin.get('inputEmailLogin').invalid">

        <span *ngIf="formLogin.get('inputEmailLogin').hasError('required')">
          Введите не пустой e-mail
        </span>
        <span *ngIf="formLogin.get('inputEmailLogin').hasError('email')">
          Введите корректный e-mail
        </span>

      </div>
    </mat-hint>
  </mat-form-field>



  <br>


  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Пароль</mat-label>
    <input class="mat-input-login" matInput formControlName="inputPassword" placeholder=" - - - - - - - "
      [type]="isActive ? 'password' : 'text'">

    <button class="mat-input-login" mat-icon-button matSuffix (click)="isActive = !isActive"
      [attr.aria-label]="'isActive password'" [attr.aria-pressed]="isActive" type="button">
      <mat-icon *ngIf="formLogin.get('inputPassword').dirty">{{isActive ?  'visibility' : 'visibility_off'}}
      </mat-icon>
    </button>

    <mat-hint class="mat-hint">
      <div *ngIf="formLogin.get('inputPassword').untouched">Введите
        пароль (минимум 6 символов)</div>
      <div class="validator" *ngIf="formLogin.get('inputPassword').touched && formLogin.get('inputPassword').invalid">
        <span *ngIf="formLogin.get('inputPassword').hasError('required')">
          Пароль не может быть пустым
        </span>

        <span *ngIf="formLogin.get('inputPassword').hasError('minlength')">
          Не выполнено требование к длине пароля. Сейчас введено символов:
          {{formLogin.get('inputPassword').value.length}}
        </span>
      </div>
      <div class="forgot-pass">Забыли пароль?</div>
    </mat-hint>
  </mat-form-field>

  <br>

  <a mat-button class="mat-btn" type="submit" mat-flat-button [disabled]="formLogin.invalid" color="primary"
    (click)="fnSubmit()">
    Войти
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      keyboard_arrow_right
    </mat-icon>
  </a>

  <a class="information-for-user" (click)="displayService.toogle(1)">
    Нет учетной записи?
  </a>
</form>