.row {
  margin: 0px 0px;
  padding: 0px 0px;
}

.login-wrapper {
  background-color: var(--c4);
  min-height: 100%;

  .container {
    width: 100%;
    padding: 0px 0px;
    padding-top: 30px;
    height: 100%;

    .shadow-wrapper {
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      box-shadow: 0px 0px 20px rgba(145, 144, 144, 0.15);
      margin: 10px 10px;
      margin-top: 50px;
      padding-bottom: 30px;
      padding-top: 60px;
      background-color: white;
      margin-bottom: 50px;

      .picture-wrapper {
        min-width: 200px;
        max-width: 500px;
        height: 100%;
        max-height: 500px;
        display: flex;
        justify-content: center;
        width: 100%;

        .img-wrapper {
          display: flex;
          align-items: center;
          vertical-align: middle;
          justify-content: center;

          .img {
            // min-width: 250px;
            max-width: 100%;
            top: 0px;
            position: relative;
          }
        }
      }

      .form-signin {
        min-height: 526px;
        // max-width: 100%;
        max-width: 400px;

        position: relative;
        padding-right: 15px; // !!!
        padding-left: 15px; // !!!

        .form-label-group {
          margin-top: 30px;

          input {
            margin-top: 5px;
          }

          input::placeholder {
            font-weight: 400;
            color: rgba(105, 103, 103, 0.705);
          }
        }
        .validators {
          font-size: 13px;
          line-height: 0.5rem;
          margin-top: 10px;
          color: grey;

          .valid {
            color: green;
          }

          .invalid {
            color: red;
          }
        }

        .button-wrapper {
          button {
            margin-top: 3rem;
          }
        }
        .hint {
          margin-top: 10px;
          cursor: pointer;
          font-size: 13px;
        }
        .hint:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .container {
      padding-top: 30px;

      .shadow-wrapper {
        padding-bottom: 10px;
      }
    }
  }

  @media (max-width: 500px) {
    .form-signin {
      max-width: 100% !important;
    }
  }
}
