<main>


  <section class="container" *ngIf="article">
    <h2>{{article.name}}</h2>
    <span class="subtitle">
      {{article.description}}
    </span>
  </section>

  <app-author-info [article]="article"> </app-author-info>

  <section class="container">
    <h3>Зачем нужны открытые API</h3>
    <p>Преимущества, которые получаем при развитии открытых API</p>
    <div class="row">
      <div class="col-md-3">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <h4> Новые сервисы</h4>
        Создают недисриминационный доступ финтех-компаниям в инфраструктуру банка для
        разработки
        принципиально новых сервисов для клиентов банка
      </div>
      <div class="col-md-3">
        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        <h4>Снижение издержек</h4>
        Способствуют появлению единых стандартов обмена данными между участниками финансового рынка
        и
        упрощают интеграцию систем
      </div>
      <div class="col-md-3">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        <h4>Скорость разработки</h4>
        Увеличивают скорость разработки новых банковских сервисов и их доставку до клиентов за счет
        устранения
        излиших
        бюрократических барьеров
      </div>
    </div>

  </section>



  <section class='container'>
    <h3>Общее описание открытых API для бизнеса</h3>
    <p>Какие виды открытых API для бизнеса можно внедрить</p>
    <div class='row'>
      <div class="col-md-3">
        <h4>OAuth для интеграции партнеров</h4>
        Позволяет быстро и оперативно интегрировать white lable партнерские сервисы в экосистему банка,
        например, если надо провести быстрый пилот для действующей клиентской базы.
      </div>
      <div class="col-md-3">
        <h4>Выставление и загрузка счета на оплату</h4>
        1. Банк-получателя предоставляет API для создания в интернет-банке получателя средств счета на
        оплату. <br>
        2. Банк-плательщика напраляет запрос через API в банк-получателя.
        3. Банк-получателя обеспечивает создание счета на оплату в Интернет-банке и предлагает
        подтвердить списание. <br>
        <br>
      </div>
      <div class="col-md-3">
        <h4>Получение выписки по счету</h4>
        Для интернет-магазинов. Такой сервис есть но он построен на базе интернет-банка и активно не
        развивается (0 клиентов).
      </div>
      <div class="col-md-3">
        <h4>Получение списка счетов</h4>
        Необходиом для ИТ-компаний, интернет-магазинов и онлайн-бизнеса для автоматизации работы
        своего собсвтенного платежного приложения (например, если необходимо выдавать клиенту
        определенный номер счета в зависимости от того, за какую услугу платит клиент).
      </div>
    </div>
  </section>


  <section class="container">
    <h3>Выставление и загрузка счетов на оплату</h3>
    <p>Предлагаемый пошаговый план для внедрения API по выставлению счетов</p>
    <div class="row">
      <div class="col-md-6">
        <h4>1. Договориться с банками</h4>
        Самый первый этап, который необходимо предпринять - это начать переговоры с банками, которые
        могут
        быть заинтересованы в развитии подобного сервиса. Переговоры можно начать на площадке АФТ
        или/или
        напрямую.
      </div>

      <div class="col-md-6">
        <h4>2. Разработать стандарт обмена данными</h4>
        В рамках переговоров необходимо достигнуть соглашения по обмену данными, которое может быть
        оформлено как публичная декларация открытого  API и доступна всем другим участникам рынка по
        авторизованному доступу.
      </div>

      <div class="col-md-6">
        <h4>3. Оценить и реализовать доработки</h4>
        Для реализации доработок необходимо оценить ресурсы разработчиков, аналитиков и
        сопровождения на
        реализацию возможных к реализации открытых API.
      </div>

      <div class="col-md-6">
        <h4>4. Подключать новые банки</h4>
        Для подключения новых банков необходимо проводить совместный PR реализованных стандартов и развитие открытых
        API (например, возможность получить и оплатить счет при покупке товара или услуги в
        интернет-магазине.
      </div>
    </div>
  </section>

  <!-- <div class="container">
    <section class="comment-wrapper">
      <form class="form-group" [formGroup]="formComments" (keyup)="resizeCommentHeight()" (ngSubmit)="onComment()">
        <textarea formControlName="inputComments" class="form-control cdk-textarea-autosize" id="inputComments"
          placeholder="Написать комментарий" (click)="btnVisible = true" [ngStyle]="{'cursornone': true}">
      </textarea>
        <div class="button-wrapper" *ngIf="btnVisible">
          <button class="btn btn-lg btn-primary btn-comment" type="submit" [disabled]="!(formComments.valid)">
            Отправить
          </button>
        </div>
      </form>
    </section>
  </div> -->

  <div class="container">
    <app-add-comment [formComments]="formComments" [article]="article"></app-add-comment>
  </div>


  <section *ngIf="article">
    <app-comments [comments]="article.comments" [article]="article"></app-comments>
  </section>



</main>

<!-- Пример HTTP-POST запроса на создание счета. API реализуется в системах банков, которые
              приняли декларацию. Далее, по мере необходимости выставить счет, происходит обращение по
              конкретному адресу в сети Интернет (например, https://bank.com/api/paymentorder/) для
              создания счета на оплату.
              В случае согласования инициативы необходимо будет оценить ресурсы на доработку. -->
<!-- {
                      "document_id": "3290001123",
                      "document_number": "3290001123",
                      "payer_INN": "7729088077",
                      "payer_title": "ООО 'Ромашка ЛТД'",
                      "bank_id": "Наименование банка",
                      "ammount": "100450,50",
                      "description": "Назначения платежа"
                      } -->