<main>
  <div class="container">
    <h2> Фичи </h2>
    <p>Добавление пользователя на просмотр и доступы</p>
    <br>
    <br>
    <h5>Кейс Тинькофф-банка</h5>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card__image">
            <img class="img-fluid" src="./assets/LK/features/tink_case.png" alt="products">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h4>Добавление пользователя</h4>
        <span class="badge badge-primary">best practice</span> <br><br>
        <span>
          В Тинькофф-банк рализовано удобное добавление пользователя дистанционно.
          На данный момент в ПСБ для добавления пользователя на просмотр необходимо идти в офис,
          предоставлять доверенность, копию паспорта, заполненную анкету, а также в случае если права
          на распоряжение денежными средствами - необходимо добавлять представителя в банковскую
          карточку (данная информация была получена во время визита в офис в качестве клиента). <br>
          <a href="./assets/LK/features/audio.m4a" target="_blank">Скачать аудиозаппись.</a>

          <br> <br>
          <span class="span__recomedation">
            Промсвязьбанку рекомендуется взять данную фичу на вооружение и внедрить в банке.
          </span>
        </span>
      </div>
    </div>
  </div>


  <div class="container">
    <br>
    <h3>Переиспользование OAuth в сервисах</h3>
    <h5>Кейсы разных банков и компаний</h5>
    <br>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card__image">
            <img class="img-fluid" src="./assets/LK/features/sberID.png" alt="products"> <br>
            <img class="img-fluid" src="./assets/LK/features/appleID.jpg" alt="products"> <br>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h4>OAuth</h4>
        <span class="badge badge-primary">best practice</span> <br><br>
        <span>
          OAuth - это <b>открытый</b> протокол, обеспечивающий авторизацию и
          аутентификацию для приложений.
          OAuth реализован в Тинькофф-банке для внутренних микросервисов: страхование,
          путешествия, приложение для частных клиентов.
          В Сбербанке реализован сервис SberID, который обеспечивает переиспользование для
          авторизации и аутентификации во внешних сервисах от партнеров банка (в случае если
          микросервис размещен в SaaS) - то есть предосатвление доступа к сервисам партнеров через
          пару логин/пароль от Сбербанк-онлайн, Сбербанк-онлайн для бизнеса. По информации от
          сотрудников Сбербанк в случае интеграции в сервисы для СМБ владелец сервиса оплачивает
          банку комиссию за каждую авторизацию.<br>
          <a href="https://www.sberbank.ru/ru/person/dist_services/sberbankid" target="_blank">Подробнее про
            SberID можно почитать здесь.</a>

          <br>
          <br>
          OAuth также предоставляется для государственных услуг (ЕСИА) с возможность
          переиспользования в любых других внешних сервисах.
          Исторически OAuth реализован в Facebook, Google, Twitter, а также в июле 2019 был
          анонсирован Apple. <br> <br>
          <span class="span__recomedation">
            Промсвязьбанку рекомендуется взять данную фичу на вооружение и внедрить в банке, не
            ограничиваясь внутренними сервисами.
          </span>
        </span>
        <br>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

    </div>
  </div>

</main>