.comment {
  // background-color: darkkhaki;
  border-left: 1px dashed darkgrey;
  padding-left: 15px;
}

.comment:hover {
  // background-color: darkkhaki;
  border-color: var(--c1);
  border-left: 1px solid;
}

.comment-content {
  // background-color: rgb(248, 250, 146);
}

.comment-content-author-wrapper {
  max-height: 100px;
  display: flex;
  vertical-align: middle;
  padding-bottom: 5px;

  img {
    position: relative;
    max-height: 40px;
    border-radius: 100px;
  }
}

.author-section {
  display: block;
  margin-left: 10px;

  // line-height: 40px;

  p {
    margin: 0px 0px;
  }

  .author-name {
    position: relative;
    font-weight: bolder;
  }
  .comment-date {
    position: relative;
    color: darkgrey;
    font-size: 12px;
  }
}

.comment-content-text {
  margin-bottom: 5px;
}

.comment-bottom {
  display: flex;
  margin-bottom: 20px;
  font-size: 12px;

  .comment-reply,
  .comment-favor {
    color: black;
    margin-right: 15px;
    cursor: pointer;
  }

  .comment-reply:hover,
  .comment-favor:hover {
    color: var(--c1);
    text-decoration: underline;
  }
}

.invisible {
  display: none;
}

.visible {
}
