<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
          <h4>Контакты</h4>
          <p><span class="material-icons"> place</span> Via Rossini 10, 10136 Turin Italy</p>
          <p><span class="material-icons"> stay_primary_portrait</span> Phone: (0039) 333 12 68 347</p>
          <p><span class="material-icons"> mail_outline </span>
            Email: <a href="mailto:hello@domain.com">hello@domain.com</a>
          </p>
        </div>

        <div class="col-md-6  wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
          <h4>Правовая информация</h4>
          <p>Пользовательское соглашение</p>
          <p>Информация для инвесторов</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12  wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
          <p class="donates">
            Мы молодая компания, которая ищет новые и креативные идеи, чтобы помогать тебе нашими информационными
            продуктами каждый день
          </p>
          <p>
            <button class="donates-btn">
              <span class="material-icons" style="top: 0px;">
                payment
              </span>
              Поддержать
            </button>
          </p>
        </div>
      </div>


    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row justify-content-center mt-2">
        <div class="col-md-12 footer-copyright" style="text-align: center;"> © Защищено авторскими правами</div>
        <div class="col-md-12 social justify-content-center">
          <img src="./assets/images/icons/face.svg">
          <img src="./assets/images/icons/insta.png">
          <img src="./assets/images/icons/vk.png">
        </div>
      </div>
    </div>
  </div>
</footer>