<div class="container" style="padding-top: 100px; ">
  <!-- Heading Row -->
  <div class="row align-items-center my-5">
    <div class="col-md-6">
      <img class="img-fluid rounded mb-3 mb-lg-0" src="/assets/images/pictures/p3.jpg" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-md-6" style="padding-left: 20px; padding-right: 10px;">
      <h1>Микро-исследование цифрового банкинга
        <span class="badge badge-dark"
          style=" font-size: 12px; top: -40px; left: 20px; position: absolute; background-color: var(--c1); margin-top: 20px; margin-bottom: 20px;">
          beta-версия
        </span></h1>
      <p>процесс подачи заявки и заключения договора на открытие счета и дистанционное банковское обслуживание</p>
      <button class="btn" style="color: white; width: 165px;">Посмотреть</button>
      <button class="btn-second" (click)="setToast()">Запостить пост</button>

    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

</div>



<div class="main-wrapper" style="background-color: white; padding-top: 30px;">
  <div class="container">
    <div class="card text-white text-center roadmap">
      <div class="card-body">
        <p class="text-white m-0">
          <b class="roadmap-text">
            Сайт пока только наполняется. В будущем будет еще больше материалов! Подробнее можно узнать здесь
            <span class="material-icons">
              map
            </span>
          </b>
        </p>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Продукты</h4>
            <p class="card-text">Анализ продуктово-сервисной составляющей, в том числе небанковских услуг</p>
          </div>
          <div class="card-footer">
            <button href="#" class="card-btn">Подробнее</button>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Экосистема</h4>
            <p class="card-text">Комплексные решения для отдельных сегментов (самозанятые, интернет, транспорт,
              розничная
              торговля)</p>
          </div>
          <div class="card-footer">
            <button href="#" class="card-btn">Подробнее</button>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Сервис</h4>
            <p class="card-text">
              Контрольные закупки по ситуациям: потерял логин\пароль, надо узнать информацию по
              конкретному продукту
            </p>
          </div>
          <div class="card-footer">
            <button href="#" class="card-btn">Подробнее</button>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->
  </div>


</div>

<app-subscribe></app-subscribe>






<!-- blog -->