<main class='body__wrapper'>
  <div class='container'>
    <h2> Баги нашего городка </h2>
    <p>В разделе будут представлены все самые минорные практики, но пока это только чат-бот</p>
    <p>Продвигаем стратегический продукт в чате</p>
    <p>
      Все началось с того, что мне захотелось узнать в чате банке на какую сумму я должен сделать платежки
      и по каким налогам, можно ли данные платежки автоматизированно получить в интернет-банке (на нужную
      сумму, если подгружу выписку из другого банка), можно ли сделать это прямо в мобильном банке? Я
      решил задать эти вопросы в супер-чат-нейроботе ...
    </p>
    <div class="color__wrapper__smokewhite">
      <div class="container">
        <br>
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="card">
                  <div class="card__image">
                    <img class="img-fluid" src="./assets/bugs/messenger/IMG_7386.PNG" alt="products">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="card__image">
                    <img class="img-fluid" src="./assets/bugs/messenger/IMG_7387.PNG" alt="products">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="card__image">
                    <img class="img-fluid" src="./assets/bugs/messenger/IMG_7388.PNG" alt="products">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <h4>Добрый день</h4>
                <span>
                  Я написал это сообщение и ждал минут 8 обновляя периодически экран. Никаких
                  сообщений в чате не появлялось, я вышел из чата.
                </span>
              </div>
            </div>
          </div>
          <br>


          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="card">
                  <div class="card__image">
                    <img class="img-fluid" src="./assets/bugs/messenger/IMG_7389.PNG" alt="products">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="card__image">
                    <img class="img-fluid" src="./assets/bugs/messenger/IMG_7390.PNG" alt="products">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="card__image">
                    <img class="img-fluid" src="./assets/bugs/messenger/IMG_7391.PNG" alt="products">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <h4>Фантомные пуши</h4>
                <span>
                  Итак, я вышел из чата. Но когда я зашел туда обратно (чтобы напомнить о
                  себе), неожиданно для себя обнаружил сообщения (хотя никаких уведомлений у
                  меня не появлялось на телефоне). Я задал вопрос, в надежде получить ответ
                  сразу...
                </span>
              </div>
            </div>
          </div>
          <br>

          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="card">
                  <div class="card__image">
                    <img class="img-fluid" src="./assets/bugs/messenger/IMG_7392.PNG" alt="products">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="card__image">
                    <img class="img-fluid" src="./assets/bugs/messenger/IMG_7393.PNG" alt="products">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="card__image">
                    <img class="img-fluid" src="./assets/bugs/messenger/IMG_7394.PNG" alt="products">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <h4>Нейробот-бухгалтер</h4>
                <span>
                  Я снова вышел из чата и занялся другими делами. В 17:51 сообщений не было на
                  заблокированном экране (они приходят от приложений в таком режиме). Решил
                  зайти снова и снова обнаружил пропущенные сообщения. Мне предложили
                  сформировать выписку! Я уточнил более конкретно, что вопрос о бухгалтерии.
                </span>
              </div>
            </div>
            <br>
          </div>


          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="card">
                  <div class="card__image">
                    <img class="img-fluid" src="./assets/bugs/messenger/IMG_7395.PNG" alt="products">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="card__image">
                    <img class="img-fluid" src="./assets/bugs/messenger/IMG_7396.PNG" alt="products">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <!-- <div class="card__image">
                                                <img class="img-fluid" src="./assets/bugs/messenger/IMG_7397.PNG" alt="products">
                                            </div> -->
                </div>
              </div>
              <div class="col-md-3">
                <h4>Занавес</h4>
                <span>
                  Как выяснилось, сообщения в чате приходят только тогда, когда я закрываю
                  окно чата и заново захожу туда (по крайней мере на моем телефоне iPhone 6s).
                  На других устройствах пока не проверял. С бухгалтерией меня отправили,
                  сказали, что банк не занимается данными вопросами.
                </span>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <br>
    <br>
    <br>
    <h2>Работа чата в банке</h2>
    <p>Имитация простого диалога по получению овера</p>
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card">
            <div class="card__image">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/orburvXFuZg"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h4>Попытка сделать тоже самое на iPhone 7+</h4>
        <span class="badge badge-dark" style="background-color: var(--c2);">looser practice</span> <br><br>
        <span>
          Ошибка обновления сообщений (отсутствует всплывающее уведомление при поступлении сообщения,
          экран чата не обновляется при свайпе вниз) повторилось на другом устройстве.
          <br>
          p.s. Зачем у аватарки в чате гарнитура? Я же общаюсь не по телефону.
          <br>
        </span>
      </div>
    </div>


  </div>



</main>