<div class="checkout-wrapper">
  <app-page-header></app-page-header>
  <div class="app-order-total-wrapper">
    <app-order-total></app-order-total>
  </div>


  <app-stepper [stepnames]="stepnames" #appStepper [nextBtnNames]="nextBtnNames">
    <cdk-step [label]="icons[0]" [completed]="checkoutFormGroup.get('deliveryForm').valid">
      <app-checkout-delivery [checkoutFormGroup]="checkoutFormGroup"></app-checkout-delivery>
    </cdk-step>
    <cdk-step [label]="icons[1]" [completed]="checkoutFormGroup.get('addressForm').valid">
      <app-checkout-address [checkoutFormGroup]="checkoutFormGroup"></app-checkout-address>
    </cdk-step>
    <cdk-step [label]="icons[2]">
      <app-checkout-review [basketItems]="(basket$ | async).items"></app-checkout-review>
    </cdk-step>
    <cdk-step [label]="icons[3]">
      <app-checkout-payment></app-checkout-payment>
    </cdk-step>
    <cdk-step [label]="icons[4]">
      <app-checkout-succes></app-checkout-succes>
    </cdk-step>
  </app-stepper>



  <!-- 
    <cdk-step [label]="'Подтверждение'">
      Шаг адреса 3
    </cdk-step>
    <cdk-step [label]="'Оплата'">
      Шаг адреса 4
    </cdk-step>
    <cdk-step [label]="'Спасибо за заказ'">
      Шаг адреса 5
    </cdk-step> -->

  <!-- <mat-vertical-stepper #stepper>
  <mat-step *ngFor="let step of steps; let i=index">
    <form>
      <ng-template matStepLabel>Способ доставки</ng-template>
      <mat-form-field hideRequiredMarker>
        <mat-label>Выберите из списка</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Дальше</button>
        <button mat-button matStepperPrevious>Назад</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper> -->

  <!-- <mat-step>
  <form>
    <ng-template matStepLabel>Адрес доставки</ng-template>
    <mat-form-field hideRequiredMarker>
      <mat-label>Адрес доставки</mat-label>
      <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
    </mat-form-field>
    <div>
      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button matStepperNext>Дальше</button>
    </div>
  </form>
</mat-step>
<mat-step>
  <ng-template matStepLabel>Подтверждение</ng-template>
  <p>Подтвердите заказ.</p>
  <div>
    <button mat-button matStepperPrevious>Назад</button>
    <button mat-button matStepperNext>Дальше</button>
  </div>
</mat-step>
<mat-step>
  <ng-template matStepLabel>Оплата</ng-template>
  <p>Оплатите заказ.</p>
  <div>
    <button mat-button matStepperPrevious>Назад</button>
    <button mat-button matStepperNext>Дальше</button>
  </div>
</mat-step>
<mat-step>
  <ng-template matStepLabel>Получение заказа</ng-template>
  <p>Ждите получения заказа.</p>
</mat-step> -->



</div>