nav {
  position: fixed;
  width: 100%;
  top: 0px;
  padding-left: 2rem;
  padding-right: 20px;
  font-family: var(--th);
  font-weight: 500;
  background-color: var(--c4);
  z-index: 1000;
  background-color: white !important;
}

input.search {
  padding-left: 5px;
  color: black;
  font-weight: 400;
  font-size: 15px;
  margin-right: 60px;
  margin-left: 60px;
  width: 100%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: transparent;
  transition: all ease-in-out 0.2s;

  .material-icons {
    margin-right: 10px;
    text-decoration: none;
  }

  b {
    margin-left: 5px;
  }
}

.form-inline {
  display: inline-flex;

  .material-icons {
    position: absolute;
  }
}

a {
  color: black !important;
  cursor: pointer;
}

.navbar-items {
  display: flex;
  width: 100%;
}

.navbar-items-mobile {
  padding-top: 100px;
  padding-left: 20px;

  height: 100%;
  display: block;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: white;
  z-index: 999;
}

.dropdown-item {
  font-size: 13px;
  font-weight: 500;
}

.dropdown-item:hover {
  background-color: white;
  cursor: pointer;
}

.dropdown-menu.show {
  padding: 20px 10px;
}

app-toast {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30px;
}

.btn-login:hover {
  color: var(--c1);
}

@media (max-width: 767px) {
  nav {
    padding-right: 20px;
    padding-left: 20px;

    .menu-burger {
      color: black;
    }

    .navbar-items {
      display: none;
      width: 100%;
    }
  }

  input {
    margin-left: 0px;
  }
}

@media (max-width: 570px) {
  nav {
    padding-right: 10px;
    padding-left: 10px;

    .menu-burger {
      color: black;
    }

    .search {
      margin-left: 0px;
    }
  }

  .li {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

@media (min-width: 768px) {
  .navbar-items-mobile {
    display: none;
  }
}
