<app-layer *ngIf="status$ === 'loading'"></app-layer>
<app-toast *ngIf="(toastVisibility$)" [visible]=toastVisibility$ [color]="color$" [message]="message$">
</app-toast>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <a class="navbar-brand" href="#" style="font-weight: bold; top: -2px; position: relative;">
    Идеи
  </a>



  <div class="navbar-items">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/content/fintech' ]">Финтех</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Исследования</a>
        <div class="dropdown-menu " aria-labelledby="dropdown06">
          <a class="dropdown-item" [routerLink]="[ '/content/revue' ]">Обзор</a>
          <a class="dropdown-item" [routerLink]="[ '/content/compare' ]">Сравнение</a>
          <a class="dropdown-item" [routerLink]="[ '/content/onboarding' ]">Открытие</a>
          <a class="dropdown-item" [routerLink]="[ '/content/buggs' ]">Баги</a>

        </div>
      </li>
    </ul>

    <!-- <form class="form-inline my-2 my-md-0" style="width: 100%; justify-content: center;">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <span class="material-icons">
            mail_outline
          </span>
        </span>
      </div>

      <input class="form-control search" type="text" placeholder="Найти">
    </form> -->

    <form class="form-label-group input-group" style="padding-right: 30px; padding-left: 20px;">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <span class="material-icons">
            search
          </span>
        </span>
      </div>
      <input type="text" class="form-control fix-rounded-right" placeholder="Найти">
    </form>

    <button *ngIf="!(currentUser$ | async)" [routerLink]="[ '/account/login' ]" class="btn-login">
      <span class="material-icons">
        account_circle
      </span>
      Войти
    </button>

    <div class="dropdown" *ngIf="(currentUser$ | async)">
      <button class="dropdown-toggle" id="dropdownuser" data-toggle="dropdown">
        <span class="material-icons" style="color: var(--c1);">
          account_circle
        </span>
        Привет, <b>{{(currentUser$ | async).displayName}}</b>
      </button>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownuser">
        <a class="dropdown-item" (click)="logout()">Выйти</a>
        <a class="dropdown-item" href="#">Мой профиль</a>
      </div>
    </div>

  </div>

  <button *ngIf="!isMenuOpen" class="navbar-toggler" type="button" style="border: 0px;" (click)="onMenuToggle()">
    <span class="material-icons menu-burger">
      menu
    </span>
  </button>
  <button *ngIf="isMenuOpen" class="navbar-toggler" type="button" style="border: 0px;" (click)="onMenuToggle()">
    <span class="material-icons menu-burger">
      close
    </span>
  </button>
</nav>

<div *ngIf="isMenuOpen" class="navbar-items-mobile" [@bounce]>

  <button *ngIf="!(currentUser$ | async)" [routerLink]="[ '/account/login' ]" (click)="isMenuOpen = false"
    style="margin-bottom: 30px;">
    <span class="material-icons">
      account_circle
    </span>
    Войти
  </button>

  <div *ngIf="(currentUser$ | async)">
    <button style="margin-bottom: 30px;">
      <span class="material-icons" style="color: var(--c1);">
        account_circle
      </span>
      Привет, <b>{{(currentUser$ | async).displayName}}</b>
    </button>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Выйти</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="0">Мой профиль</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[ '/content/fintech' ]" (click)="isMenuOpen = false">Финтех</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[ '/content/revue' ]" (click)="isMenuOpen = false">Обзор</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[ '/content/compare' ]" (click)="isMenuOpen = false">Сравнение</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[ '/content/onboarding']" (click)="isMenuOpen = false">Открытие</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[ '/content/buggs' ]" (click)="isMenuOpen = false">Баги</a>
    </li>

  </ul>

  <form class="form-label-group input-group" style="padding-right: 30px; padding-top: 30px;">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <span class="material-icons">
          search
        </span>
      </span>
    </div>
    <input type="text" class="form-control fix-rounded-right" placeholder="Найти">
  </form>
</div>