<div class="color__wrapper__smokewhite justify-content-center">
  <div class="col-md-12">

    <div class="container">
      <div class="row justify-content-center">
        <h2 class="title">Получи доступ</h2>
        <div class="subtitle justify-content-center">
          Для доступа к закрытым разделам отправь заявку на сайте и, может быть, мы его предоставим
          :-)
        </div>
      </div>
    </div>

    <div class="container justify-content-center">
      <form action="" class="subscribe__form">
        <input type="text" class="subscribe__input" placeholder="Введите ваш e-mail">
        <input type="submit" class="subscribe__button" value="хочу доступ">
      </form>
    </div>
  </div>
</div>