.authorize-page-wrapper {
  display: flex;
  .login-page-wrapper {
    // background-color: rgb(189, 189, 245);
    // display: flex;
    justify-content: left;
    width: 100%;
    height: 100%;
    min-height: 50rem;
    overflow: hidden;
    margin-bottom: 24rem;

    .container {
      // background-color: rgba(104, 160, 134, 0.63);

      margin-top: 8rem;
      padding-bottom: 4rem;
      margin-bottom: 3rem;
      display: flex;
      max-width: 100%;
      margin-left: 328px;
      height: 100%;
      position: relative;

      .mat-tab-group {
        width: 100%;
        position: relative;

        .mat-tab {
          width: 100%;
          position: relative;
        }
      }

      p.login-description {
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 100%;
        max-width: 500px;
        font-size: 15px;
        // background-color: aquamarine;
      }

      .img-login-wrapper {
        display: flex;
        width: 100%;
        float: right;
        padding-left: 30px;
        justify-content: right;

        .img-login {
          right: 0;
          top: 16px;
          position: relative;
          height: 600px;
        }
      }
    }
  }

  .smm-authorize-wrapper {
    position: relative;
    margin-left: 322px;
    font-size: 15px;
    bottom: -115px;

    .smm-authorize {
      position: absolute;

      p {
        color: rgba(0, 0, 0, 0.87);
      }

      img {
        cursor: pointer;
        color: #252525;
        position: relative;
        height: 50px;
        bottom: 0;
        margin-right: 10px;
      }
    }
  }

  .divider {
    background-color: rgb(97, 95, 95);
    position: absolute;
    opacity: 0.2;
    height: 1px;
    width: 100%;
    top: 176px;
    // right: 0;
    margin-left: 500px;
    right: 0;
    z-index: 222;
  }
}

// большой планшет
@media (max-width: 1160px) {
  .authorize-page-wrapper {
    .login-page-wrapper {
      .container {
        margin-left: 10px;
        padding-left: 30px;
        padding-right: 30px;

        .mat-tab-group {
          .mat-tab {
            position: relative;
          }
        }

        p.login-description {
          font-size: 15px;
        }

        form {
          width: 100%;
          position: relative;

          .label {
            color: black;
          }

          mat-form-field {
            line-height: 0.8rem;

            .mat-form-field-wrapper {
              width: 100%;
            }

            .mat-input-login {
              top: -3px;
              position: relative;
            }
          }

          .mat-hint {
            .validator {
              color: var(--main-theme-color-error);
              right: 12px;
            }
          }

          .mat-btn {
            border-radius: 30px;
            margin-bottom: 1rem;
          }

          .mat-btn:hover {
            background-color: #202020;

            color: white;
          }

          .information-for-user {
            margin-left: 25px;
            cursor: pointer;
            color: #202020;
          }

          .information-for-user:hover {
            color: black;
            text-decoration: underline;
          }
        }

        .img-login-wrapper {
          float: right;
          justify-content: right;

          .img-login {
            position: relative;
            height: 600px;
          }
        }
      }
    }

    .smm-authorize-wrapper {
      position: relative;
      // padding-top: 2rem;
      margin-left: 322px;
      font-size: 15px;
      bottom: -115px;

      .smm-authorize {
        position: absolute;

        p {
          color: rgba(0, 0, 0, 0.87);
        }

        img {
          cursor: pointer;
          color: #252525;
          position: relative;
          height: 50px;
          bottom: 0;
          margin-right: 10px;
        }
      }
    }

    .divider {
      background-color: rgb(97, 95, 95);
      position: absolute;
      opacity: 0.2;
      height: 1px;
      width: 100%;
      margin-left: 500px;
      right: 0;
      z-index: 222;
    }
  }
}

// телефон
@media (max-width: 770px) {
  .authorize-page-wrapper {
    .login-page-wrapper {
      .container {
        margin-left: 10px;
        margin-right: 10px;

        .mat-tab-group {
          .mat-tab {
            position: relative;
          }
        }

        p.login-description {
          font-size: 15px;
        }

        .img-login-wrapper {
          display: none;
          float: right;
          justify-content: right;

          .img-login {
            position: relative;
            height: 600px;
          }
        }
      }
    }

    .smm-authorize-wrapper {
      position: relative;
      // padding-top: 2rem;
      margin-left: 322px;
      font-size: 15px;
      bottom: -115px;

      .smm-authorize {
        position: absolute;

        p {
          color: rgba(0, 0, 0, 0.87);
        }

        img {
          cursor: pointer;
          color: #252525;
          position: relative;
          height: 50px;
          bottom: 0;
          margin-right: 10px;
        }
      }
    }

    .divider {
      background-color: rgb(97, 95, 95);
      position: absolute;
      opacity: 0.2;
      height: 1px;
      width: 100%;
      top: 191px;
      display: none;
      margin-left: 500px;
      right: 0;
      z-index: 222;
    }
  }
}
