.layer {
  width: 100%;
  height: 100%;
  background-color: rgba(247, 247, 247, 0.527);
  z-index: 4000;
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  vertical-align: middle;
  top: 0px;
}
