.landing-page-wrapper {
  padding-right: 20px;
  padding-left: 20px;

  width: 100%;

  .form-wrapper {
    display: flex;
    margin-top: 2rem;

    form {
      width: 100%;
      font-size: 15px;
      line-height: 10px;
      justify-content: flex-start;
      position: relative;
      display: block;
      margin-bottom: 2rem;

      mat-form-field {
        margin-right: 20px;
        width: 250px;

        mat-label {
          padding-top: 40px;
          font-size: 16px;
          bottom: 2px;
          position: relative;
        }
      }
    }
  }

  .items {
    margin-bottom: 4rem;
  }
}

.landing-content-list {
  width: 100%;
  padding-bottom: 4rem;
  .container {
    width: 100%;

    .mat-table,
    .mat-elevation-z8 {
      width: 100%;

      span.material-icons {
        cursor: pointer;
      }
    }
  }
}
