<div class="login-page-wrapper">
  <div class="container">
    <form [formGroup]="formAuthorize" (ngSubmit)="register()">
      <mat-card class="mat-card-login">
        <mat-card-header>
          <mat-card-title>
            <h3>Зарегистрироваться</h3>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-form-field>
            <mat-label class="mat-label">E-mail</mat-label>
            <input formControlName="inputLogin" matInput type="email">
            <mat-hint>
              <div>Введите e-mail</div>
              <div class="validator"
                *ngIf="formAuthorize.get('inputLogin').touched && formAuthorize.get('inputLogin').invalid">

                <div class="validator-text" *ngIf="formAuthorize.get('inputLogin').hasError('required')">
                  Введите не пустой e-mail
                </div>

                <div class="validator-text" *ngIf="formAuthorize.get('inputLogin').hasError('email')">
                  Введите корректный e-mail
                </div>

              </div>
            </mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label class="mat-label">Пароль</mat-label>
            <input matInput formControlName="inputPassword" [type]="isActive ? 'password' : 'text'">

            <i class="material-icons-outlined" *ngIf="formAuthorize.get('inputPassword').value && isActive"
              (click)="changePasswordType()">
              remove_red_eye
            </i>

            <i class="material-icons-outlined remove" *ngIf="formAuthorize.get('inputPassword').value && !isActive"
              (click)="changePasswordType()">
              remove_red_eye
            </i>

            <mat-hint class="mat-hint">
              <div>Введите пароль (минимум 6 символов)</div>

              <div class="validator"
                *ngIf="formAuthorize.get('inputPassword').touched && formAuthorize.get('inputPassword').invalid">

                <div class="validator-text" *ngIf="formAuthorize.get('inputPassword').hasError('required')">
                  Пароль не может быть пустым
                </div>
                <div class="validator-text" *ngIf="formAuthorize.get('inputPassword').hasError('minlength')">
                  Не выполнено требование к длине пароля. Сейчас введено символов:
                  {{formAuthorize.get('inputPassword').value.length}}
                </div>

              </div>
            </mat-hint>
          </mat-form-field>
          <br>
        </mat-card-content>
        <button class="mat-btn" type="submit" mat-flat-button [disabled]="formAuthorize.invalid" color="primary">
          продолжить
          <mat-icon aria-hidden="false" aria-label="Example home icon">
            keyboard_arrow_right
          </mat-icon>
        </button>
        <div class="hint-for-user" [routerLink]="'/login'">
          У меня уже есть учетная запись
        </div>
      </mat-card>
    </form>
  </div>
</div>