<main>
  <div class="container">
    <h2>Сравнение</h2>
    <p>Взаимодействие с пользователем при подаче заявки на открытие счета</p>
  </div>
  <div class="container">
    <h4>1. Оценка первого контакта с клиентом</h4>
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <!-- num  -->
          <th>#</th>
          <!-- критерий -->
          <th>Критерий</th>
          <!-- точка -->
          <th>Точка</th>
          <!-- тинькофф -->
          <th>Тинькофф</th>
          <!-- модуль -->
          <th>Модуль</th>
          <!-- сбер -->
          <th>Сбербанк</th>
          <!-- альфа -->
          <th>Альфа</th>
          <!-- псб -->
          <th>Промсвязьбанк</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- num -->
          <th scope="row">1</th>
          <!-- критерий -->
          <td>Сайт: авторизация в личном кабинете</td>
          <!-- точка -->
          <td>
            Есть личный кабинет. Логин и пароль от Интернет-банка выдают сразу. После открытия счета
            пароль
            необходимо изменить
          </td>
          <!-- тинькофф -->
          <td>
            Есть личный кабинет. Логин и пароль от Интернет-банка выдают сразу. После открытия счета
            пароль
            необходимо изменить
          </td>
          <!-- модуль -->
          <td>Есть личный кабинет. Логин и пароль от Интернет-банка выдают сразу</td>
          <!-- сбер -->
          <td>Нет личного кабинета. Есть возможность вложить документы для встречи</td>
          <!-- альфа -->
          <td>
            Клиент авторизуется по номеру телефона и одноразовому паролю. Далее после открытия счета
            клиент
            назначает новый логин и пароль от интернет-банка. Сложные требования к логину и паролю
          </td>
          <!-- псб -->
          <td>
            Авторизация отсутствует. Клиенту направляется СМС и сообщение по почте о зарезервированном
            счете. Возможность отслеживать статус открытия счета, возможность загружать документы
            отсутствует
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <!-- критерий -->
          <td>Контактный центр: звонок клиенту</td>
          <!-- точка -->
          <td>
            Позвонили сразу. Перепутали, с какого сайта заявка, сказали, что заявка от партнера. СМС
            отправили
          </td>
          <!-- тинькофф -->
          <td>
            Позвонили сразу после того, как было создано ИП
            Сами создали заявку в личном кабинете
          </td>
          <!-- модуль -->
          <td>Долго звонили. СМС отправили сразу</td>
          <!-- сбер -->
          <td>
            Позвонили в течение двух часов. Рассказали про тарифы. Про выездной сервис пришлось самому
            спрашивать
          </td>
          <!-- альфа -->
          <td>Позвонили на следующий день. СМС отправили сразу</td>
          <!-- псб -->
          <td>Позвонили сразу. Проконсультировали по тарифам и документам.</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <!-- критерий -->
          <td>Контактный центр: формат общения с клиентом</td>
          <!-- точка -->
          <td>Дружественный, практически на ты</td>
          <!-- тинькофф -->
          <td>Официальный</td>
          <!-- модуль -->
          <td>Более официальный, чем в Точка, но дружественный</td>
          <!-- сбер -->
          <td>Официальный</td>
          <!-- альфа -->
          <td>Официальный</td>
          <!-- псб -->
          <td>Официальный</td>
        </tr>
      </tbody>
    </table>
    <br>
    <h4>Рекомендации для внедрения в Промсвязьбанке</h4>
    <p>1. Внедрить сигнал о создании бизнеса клиентом - физическим лицом</p>
    <p>2. Внедрить личный кабинет</p>
    <p>3. Внедрить выдачу логина и пароля от интернет и мобильного банка сразу при подаче заявки через сайт</p>
    <br>
    <br>
  </div>

  <div class="container">
    <h4>2. Организация и проведение встречи</h4>
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <!-- num -->
          <th>#</th>
          <!-- критерий -->
          <th>Критерий</th>
          <!-- точка -->
          <th>Точка</th>
          <!-- тинькофф -->
          <th>Тинькофф</th>
          <!-- модуль -->
          <th>Модуль</th>
          <!-- сбер -->
          <th>Сбербанк</th>
          <!-- альфа -->
          <th>Альфа</th>
          <!-- псб -->
          <th>Промсвязьбанк</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- num -->
          <th scope="row">1</th>
          <!-- критерий -->
          <td>Встреча: возможность выбора места и времени встречи на сайте</td>
          <!-- точка -->
          <td>Через контактный центр</td>
          <!-- тинькофф -->
          <td>
            Можно выбрать место встречи и время встречи. Встречу можно перенести как через контактный
            центр
            так
            и дистанционно
          </td>
          <!-- модуль -->
          <td>Через контактный центр</td>
          <!-- сбер -->
          <td>Через контактный центр</td>
          <!-- альфа -->
          <td>Через контактный центр</td>
          <!-- псб -->
          <td>Через контактный центр</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <!-- критерий -->
          <td>Встреча: интервью о виде бизнеса</td>
          <!-- точка -->
          <td>Фиксируется на аудио при встрече. Очень подробно спрашивают</td>
          <!-- тинькофф -->
          <td>Фиксируется на аудио при встрече и при первом звонке из КЦ после открытия счета</td>
          <!-- модуль -->
          <td>Проводится общение с менеджером</td>
          <!-- сбер -->
          <td>
            Проводится общение с менеджером. Уточняли с кем работаю: физическими лицами или юридическими
          </td>
          <!-- альфа -->
          <td>Нигде не фиксируется. Спросили буквально в одном предожении чем занимаюсь</td>
          <!-- псб -->
          <td>Проводится интетвью о бизнесе. Информация нигде не фиксируется</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <!-- критерий -->
          <td>Встреча: продолжительность встречи и скорость подписания документов</td>
          <!-- точка -->
          <td>20 минут</td>
          <!-- тинькофф -->
          <td>7 минут</td>
          <!-- модуль -->
          <td>10 минут</td>
          <!-- сбер -->
          <td>10 минут</td>
          <!-- альфа -->
          <td>5 минут</td>
          <!-- псб -->
          <td>1,5 часа</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <!-- критерий -->
          <td>Встреча: скорость назначения встречи</td>
          <!-- точка -->
          <td> Встреча прошла через 1 день после назначения</td>
          <!-- тинькофф -->
          <td> Встреча прошла на следующий после назначения</td>
          <!-- модуль -->
          <td> Встреча прошла через 1 день после назначения</td>
          <!-- сбер -->
          <td>Перед встречей запрашивают скан паспорта по электронной почте. Встреча была через
            несколько дней после отправки скана паспорта</td>
          <!-- альфа -->
          <td>Сложно было договориться на день и время встречи, сотрудники были заняты с 11 и до
            вечера несколько дней</td>
          <!-- псб -->
          <td>Встреча прошла на следующий день</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <!-- критерий -->
          <td>Встреча: какие документы подписывались на карту, счет и ДБО</td>
          <!-- точка -->
          <td>Без документов</td>
          <!-- тинькофф -->
          <td>2 завления</td>
          <!-- модуль -->
          <td>1 заявление</td>
          <!-- сбер -->
          <td>1 заявление</td>
          <!-- альфа -->
          <td>1 заявление</td>
          <!-- псб -->
          <td>2 заявления и анкета</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <!-- критерий -->
          <td>Встреча: что происходило долго?</td>
          <!-- точка -->
          <td>Заполнение анкеты через мобильное устройство</td>
          <!-- тинькофф -->
          <td>Встреча была непродолжительная</td>
          <!-- модуль -->
          <td>Встреча была непродолжительная</td>
          <!-- сбер -->
          <td>Встреча была непродолжительная</td>
          <!-- альфа -->
          <td>Встреча была непродолжительная</td>
          <!-- псб -->
          <td>Работа менеджера с документами</td>
        </tr>
      </tbody>
    </table>
    <br>
    <h4>Рекомендации для внедрения в Промсвязьбанке</h4>
    <p>1. Уменьшить количество документов, подписываемых на встрече</p>
    <p>2. Фиксировать на аудио общение менеджера и клиента</p>
    <p>3. Внедрить выдачу лог</p>
    <br>
  </div>
</main>