<div class="register-wrapper">
  <div class="container justify-content-center">

    <div class="shadow-wrapper row align-middle">
      <!-- https://www.behance.net/gallery/59995961/Expoio?tracking_source=search_projects_recommended%7Capps -->

      <div class="picture-wrapper col-auto">
        <div class="img-wrapper">
          <img class="img" src="./assets/images/pictures/p1.jpg">
        </div>
      </div>

      <form [formGroup]="formRegister" (keydown.enter)="onSubmit()" (ngSubmit)="onSubmit()"
        class="form-signin col-auto">
        <div class="text-center mb-4">
          <h2 class="h2 mb-2 font-weight-bold">Регистрация</h2>
          <p style="margin-bottom: 20px;">Создайте учетную запись в приложении для доступа к контенту</p>
        </div>



        <div class="form-label-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <span class="material-icons-outlined">
                account_circle
              </span>
            </span>
          </div>
          <input type="text" formControlName="inputDisplayName" class="form-control fix-rounded-right"
            placeholder="Ivan Bloger" required="">
        </div>


        <div class="validators">
          <span *ngIf="formRegister.get('inputDisplayName').untouched && !formRegister.get('inputDisplayName').valid">
            Пожалуйста представьтесь
          </span>

          <div *ngIf="formRegister.get('inputDisplayName').touched && formRegister.get('inputDisplayName').invalid"
            style="color: indianred;">
            <span *ngIf="formRegister.get('inputDisplayName').hasError('required')">
              Заполните поле
            </span>
          </div>

          <span *ngIf="formRegister.get('inputDisplayName').valid" style="color: green;">
            Поле заполнено корректно
          </span>
        </div>


        <div class="form-label-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <span class="material-icons">
                mail_outline
              </span>
            </span>
          </div>
          <input type="email" formControlName="inputEmailLogin" class="form-control fix-rounded-right"
            placeholder="ivan@cvetkoff.ru">
        </div>


        <div class="validators">
          <span *ngIf="formRegister.get('inputEmailLogin').untouched && !formRegister.get('inputEmailLogin').valid">
            Мы не рассылаем спам
          </span>

          <div *ngIf="formRegister.get('inputEmailLogin').touched && formRegister.get('inputEmailLogin').invalid"
            style="color: indianred;">
            <span *ngIf="formRegister.get('inputEmailLogin').hasError('required')">
              Введите не пустой e-mail
            </span>
            <span *ngIf="formRegister.get('inputEmailLogin').hasError('email')">
              Введите корректный e-mail
            </span>
          </div>

          <span *ngIf="formRegister.get('inputEmailLogin').valid" style="color: green;">
            Поле заполнено корректно
          </span>
        </div>




        <div class="form-row">
          <div class="form-label-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <span class="material-icons">
                  vpn_key
                </span>
              </span>
            </div>
            <input type="password" formControlName="inputPassword" [type]="isActive ? 'password' : 'text'"
              class="form-control" placeholder="Pa$$w0rd" required="">
          </div>



        </div>


        <div class="validators">
          <span *ngIf="formRegister.get('inputPassword').untouched">
            Введите пароль (минимум 6 символов)
          </span>

          <div *ngIf="formRegister.get('inputPassword').touched && formRegister.get('inputPassword').invalid"
            style="color: indianred;">
            <span *ngIf="formRegister.get('inputPassword').hasError('required')">
              Пароль не может быть пустым
            </span>

            <span *ngIf="formRegister.get('inputPassword').hasError('minlength')" style="color: indianred;">
              Вы ввели символов: {{formRegister.get('inputPassword').value.length}}. Надо 6.
            </span>
          </div>

          <span *ngIf="formRegister.get('inputPassword').touched && !formRegister.get('inputPassword').invalid"
            style="color: green;">
            Пароль введен корректно
          </span>
        </div>



        <div class="button-wrapper">
          <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!(formRegister.valid)"
            (click)="onSubmit(); isActive = !isActive" [attr.aria-label]="'isActive password'"
            [attr.aria-pressed]="isActive">Зарегистрировать</button>
        </div>
        <p class="mt-3 mb-3 text-muted text-center hint" [routerLink]="[ '/account/login' ]">Есть личный кабинет?</p>
      </form>

    </div>



  </div>
</div>