<section class="body__wrapper">
  <div class="container">
    <h2>Снимки сайта и интернет-банка</h2>
    <p>Как выглядит процесс в разных банках</p>
  </div>

  <div class="color__wrapper__grey">
    <div class="container">
      <br>
      <br>
      <h2>1. Альфа-банк</h2>
      <br>
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card">
              <div class="card__image">
                <img class="img-fluid" src="./assets/LK/alfa/x0.png" alt="products">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>1. Авторизация</h4>
          <span class="badge badge-dark">best practice</span> <br><br>
          <span>
            Происходит через номер телефона и разовые СМС-коды. Это самый простой и удобный сценарий
            входа в
            личный кабинет.
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/alfa/x2.png" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>2. Пароль для входа</h4>
          <span>
            В банках используются как 5-ти значные (ПСБ), так и 4-ех значные пароли, которые проще
            запоминать пользователю. Происходит через номер телефона и разовые СМС-коды <br>
            <!-- <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span> -->
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/alfa/x4.png" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>3. Информация о компании</h4>
          <span>
            Все данные подтягиваются автоматически. Все банки из исследования подтягивают данные с
            помощью открытых источников. Также на данном экране клиенту предлагается выбрать отделение
            для обслуживания (пояснений, что эта информация будет необходима только после открытия счета
            нет)
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/alfa/x5.png" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>4. Продукты</h4>
          <span>
            На экране можно выбрать некоторые продукты
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/alfa/x6.png" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>5. Анкета</h4>
          <span class="badge badge-dark">best practice</span> <br><br>
          <span>
            На данном экране заполняется анкета в электронном виде. При открытии счета анкета в бумажном
            виде с клиентом не подписывается.
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/alfa/x7.png" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>6. Сотрудники компании</h4>
          <span>
            На данном экране можно ввести данные по сотрудникам компании - руководителю и его
            представителям. Клиент может застопориться на данном этапе. Подключение карты осуществляется
            именно на данном экране.
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/alfa/x8.png" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/alfa/x9.png" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/alfa/x10.png" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/alfa/x11.png" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>7. Документы</h4>
          <span>
            Загрузка паспорта. По другим банкам от клиента в случае загрузки паспорта заполнять
            персональные данные в личном кабинете не требовалось (пример - Сбербанк). На этом же экране
            выбирается место встречи (возможность выбирать время встречи отсутствует)
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/alfa/x12.png" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>8. После встречи</h4>
          <span>
            После встречи примерно через 1 рабочий день приходит СМС-сообщение о возможности подписать
            документы в личном кабинете. При входе доступна кнопка "Подписать документы" - при нажатии
            происходит подписание СМС-кодом.
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/alfa/x13.png" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>9. Подключение</h4>
          <span>
            Далее, после подписание документов, заявка обрабатывается несколько часов, после чего
            предостапвляется доступ в Интернет-банк. Логин и пароль от Интернет-банка создается
            отдельно.
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/alfa/x14.png" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/alfa/x15.png" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>10. Первый вход в Интернет-банк</h4>
          <span class="badge badge-dark">best practice</span> <br><br>
          <span>
            При первом входе выводится сплэш с подсказками (похожий функционал есть в Модуль-банке).
            Рекомпендуется внедрить такую практику в ПСБ
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/alfa/x16.png" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/alfa/x17.png" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/alfa/f0.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/alfa/f1.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/alfa/f2.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>11. Мобильная версия</h4>
          <span>
            Личный кабинет также доступен в мобильной версии
          </span>
        </div>
      </div>
    </div>
    <p><a name="modulbank"></a></p>
  </div>

  <!-- // alfa -->
  <!--  modul -->

  <div>
    <div class="container">
      <br>
      <br>
      <br>
      <br>
      <br>
      <h2>2. Модуль-банк</h2>
      <br>
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/1.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>1. Главная страница</h4>
          <span>
            Синие люди с сильным фильтром blur :-) Сайт периодически обновляется.
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/2.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>2. Авторизация</h4>
          <span class="badge badge-dark">best practice</span> <br><br>
          <span>
            На авторизацию запрашивает Фамилия и Имя (отдельно) без отчества, с телефоном, мейл и
            городом. Происходит проверка по 5-ти значному СМС-коду.
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/3.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/4.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>3. Auto complete</h4>
          <span>
            Поиск клиента происходит крайне слабо - требуется ввести ОГРН (не ИНН), и только по нажатию
            кнопки "Не помните ОГРН?" (есть клиенты которые помнят ОГРН?) можно перейти на полноценнй
            поиск (гибкий поиск не реализован). Предлагать клиенту вводить ОГРН в начале - не самая
            лучшая идея.
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/5.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/6.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/7.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/8.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/9.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/10.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/11.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/12.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/13.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/14.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>4. Уведомления в браузере</h4>
          <span>
            Хорошая практика - настроить уведомления в браузере для различных событий.
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/15.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>5. Проверка и резервирование счета</h4>
          <span>
            Модуль не резервирует счет, если клиент не прошел проверку на сайте. К этому стоит
            присмотреться.
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/16_0.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>6. Виртуальный ассистент</h4>
          <span class="badge badge-dark">best practice</span> <br><br>
          <span>
            Нейробот выскочил спустя непродолжительное время еще до открытия счета
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/16_1.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/17.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>7. Остаток по счету 0.00</h4>
          <span>
            Модуль позиционирует открытие счета как полностью онлайн - остаток по счету показывается
            сразу еще до того момента, как он стал рабочим. При попвытке его пополнить через карту
            транзакция конечно же отклонилась. В рекламе также рассказывают, что счет открывают сразу
            через сайт рабочий ("его можно пополнять, поэтому он рабочий, но деньги зачисляться сразу
            после подписания документов")
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/18.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/19.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/20.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/21.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/modul/22.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>



    <p><a name="tochka"></a></p>
    <br>
    <br>

  </div>
  <!--  // modul -->

  <!--   tocka -->
  <div class="color__wrapper__grey">
    <div class="container">
      <br>
      <br>

      <br>
      <h2>3. Точка </h2>
      <br>

      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card">
              <div class="card__image">
                <img class="img-fluid" src="./assets/LK/tochka/t1.PNG" alt="products">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>1. Авторизация в личном кабинете</h4>
          <span class="badge badge-dark">best practice</span> <br><br>
          <span>
             В Точке используется авторизация по номеру телефона как в Альфа-банке
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/t2.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>2. Загрузка документов</h4>
          <span class="badge badge-dark">best practice</span> <br><br>
          <span>
            Данные по клиенту Точка спрашивает по телефону либо можно подгрузить документы.
            Положительная практика в том, что мы не навязываем клиенту загрузку сканов - все решает сам
            клиент.
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/t3.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>3. Загрузка документов</h4>
          <span>
            В случае если клиент готов загрузить документы ему предлагается ввести ИНН
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/t4.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/t5.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/t6.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/t7.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>4. Перечень документов</h4>
          <span>
            Точка просит загрузить паспорт (обязательно), СНИЛС и архив документов из налоговой (не
            обязательно), документы о финансовом положении (по факту не запрашивали)
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/t8.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/t9.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/t10.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>5. Загрузка документов</h4>
          <span>
            При загрузке произошла ошибка. При повторной попытке все прошло успешно.
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/t11.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>4. Улыбчивый менеджер</h4>
          <span>
            Менеджер связался, но определить, был ли он улыбчивым не получилось.
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/t12.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>5. Логин и пароль</h4>
          <span class="badge badge-dark">best practice</span> <br><br>
          <span>
            Логин и пароль задается до встречи с менеджером банка
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/t13.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/t14.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>6. Назначение встречи</h4>
          <span>
            В интернет-банк доступ предостапвляется сразу до встречи с менеджером. Выводится информация
            о том, что счет ожидает активации.
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/t15.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>7. Загрузка документов?</h4>
          <span>
            Ранее загрузка документов также осуществлялась. В личном кабинете данный функционал
            дублируется.
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/t20.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>8. Все успешно</h4>
          <span>
            После повторной загрузки документов выдается сообщение о том, что все успешно
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/t21.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>9. Нулевой доступ к сервисам</h4>
          <span class="badge badge-dark">best practice</span> <br><br>
          <span>
            В интернет-банк банке Точки реализовано аналогичное предложение как в Модуль-банке -
            возможность
            подключить сервисы до того момента, как менеджер и клиент встретились и подписали документы
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/t22.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/v1.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/v2.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/v3.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>10. Активация карты при встрече</h4>
          <span>
            На встрече происходит активация карты, что занимает 10 минут
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/v4.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/v5.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/v6.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>11. Подписание заявления</h4>
          <span>
            Менеджер банка не спрашивает у клиентов бумажных документов. Все документы полностью
            электронные.
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/v7.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card__image">
              <img class="img-fluid" src="./assets/LK/tochka/v8.PNG" alt="products">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card__image">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4></h4>
          <span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!--   // tocka -->

</section>