<div class="basket-totals-wrapper">

  <div class="totals" *ngIf="(basketTotals$ | async) as totals">
    <div class="info">Вы выбрали товаров на общую сумму
      <br>
      <b>{{totals.subtotal | currency : 'RUB' : 'symbol-narrow' }}</b>
    </div>
    <div class="info">Стоимость доставки составляет
      <br>
      <b>{{totals.shiping | currency : 'RUB' : 'symbol-narrow' }}</b>
    </div>
    <div class="info">Общая стоимость заказа составляет
      <br>
      <b>{{totals.total | currency : 'RUB' : 'symbol-narrow' }}</b>
    </div>
  </div>




</div>