<div class="home-wrapper">
  <div class="container">
    <div class="title">
      <h1>
        <b>
          Привет, друг!
        </b>
      </h1>
      <span>
        Приложение создает ссылки и QR коды для них
        <br>
        Ты можешь создавать уникальныке короткие ссылки на любые ресурсы и отслеживать их статистику посещений
      </span>
    </div>
  </div>
  <div class="btn-wrapper">
    <a [routerLink]="'/items'" mat-flat-button color="primary">Попробовать</a>
  </div>
</div>

<div class=" image-recognize-wrapper">

</div>


<div class="roadmap-wrapper">
  <div class="container">
    <div class="container">
      <div class="title">
        <h1>
          <b>
            Roadmap сервиса
          </b>
        </h1>
        <span>
          Узнай, что появится нового в ближайшем будущем <br>
        </span>
      </div>
    </div>
    <br>
    <div class="roadmap">
      <ul>
        <li>time ago pipeline</li>
        <li>items filter functionality</li>
        <li>individual content for each user</li>
        <li>facebook and google auth</li>
        <li>password channging</li>
      </ul>

      <ul>
        <li>in process</li>
        <li>plan</li>
        <li>plan</li>
        <li>plan</li>
        <li>plan</li>
      </ul>



    </div>
  </div>
</div>