@import "~@angular/material/theming";

@include mat-core();

$my-theme-primary: mat-palette($mat-grey, A700, A800, A900);
$my-theme-accent: mat-palette($mat-pink, A200, A100, A400);
$my-theme-warn: mat-palette($mat-deep-orange);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);
@include angular-material-theme($my-theme);

:root {
  --main-text-color: rgba(59, 57, 57, 0.808);
  --main-text-font: "IBM Plex Sans", sans-serif;
  --main-theme-color-primary-blue: #3f51b5;
  // --main-theme-color-indigo: #7953d2;
  --main-theme-color-darkblue: #050070;
  --main-theme-color-error: #f44336;
  --main-theme-color-grey: #323232;
  --main-theme-color-warn: #ff4081;
  --main-theme-color-background: rgb(250, 247, 247);
}

body,
html {
  width: 100%;
}

*,
html,
body {
  box-sizing: border-box;
  margin-right: 0rem;
  margin-left: 0rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-top: 0rem;
  font-family: var(--main-text-font);
  line-height: 1.5rem;
}

html {
  color: rgba(31, 30, 30, 0.808);
  font-family: var(--main-text-font);
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 700;
  }
}

html {
  body {
    font-family: var(--main-text-font);
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #333;
  }

  b {
    color: black;
  }
  .container {
    margin: 0rem 0rem;
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    .input-date-wrapper {
      display: flex;
      max-width: 35rem;
    }
  }

  button,
  .mat-btn {
    position: relative;
    left: 1rem;
    font-family: var(--main-text-font);
    padding-left: 1.6rem;
    font-size: 1rem;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    color: white;
    font-weight: 300;
    border-radius: 8px;
    float: left;
    mat-icon {
      font-size: 22px;
      margin-left: 0rem;
      padding-right: 0rem;
      font-weight: 700;
    }
  }

  mat-divider {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 99%;
    position: relative;
  }
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  br {
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgba(50, 50, 53, 0.552);
    margin-bottom: 0.1rem;
  }

  // мобильная верстка
  @media (max-width: 600px) {
    .home-wrapper {
      margin-left: 0px;
      margin-right: 0px;
      .mat-card {
        mat-form-field {
          display: flex;
          min-width: 100%;
          .mat-form-field-wrapper {
            display: flex;
            min-width: 100%;
          }
        }
      }
    }
  }

  // end мобильная верстка
} // end html

.container-end {
  padding-bottom: 5rem;
}

.tooltip-standart {
  background-color: var(--main-theme-color-grey);
  font-size: 12px;
  padding-left: 125px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 100%;
}

.mat-progress-spinner svg {
  top: -1px;
}

.mat-input-element
  .mat-form-field-autofill-control
  .cdk-text-field-autofill-monitored
  .ng-dirty
  .ng-touched
  .cdk-text-field-autofilled {
  background-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

mat-datepicker-toggle {
  bottom: -9px;
  position: relative;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-simple-snackbar-action {
  // left: 70px;
}

simple-snack-bar {
  span {
    text-align: center;
    width: 100%;
  }
}

.mat-calendar-header {
  width: 90%;
}

// global styles
.container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  background-color: white;

  h1.title {
    margin-left: 1rem;
    line-height: 2.2rem;
    width: 100%;
  }

  .subtitle {
  }
}
