<div class="container">
  <h1 class="title">{{displayService.title}}</h1>
  <br>
  <div class="header">
    <button mat-flat-button class="mat-button" color="primary"
      (click)="displayService.display='addNew'; displayService.title='Добавить новую ссылку';"
      *ngIf="displayService.display==='list'">
      <i class="material-icons">
        add
      </i>
      добавить
    </button>
  </div>
  <br>
  <br>

  <div *ngIf="displayService.display==='list';">
    <mat-card class="mat-card" *ngFor="let element of itemList">
      <b>No. </b>
      {{element.id}} <br>
      <div mat-button (click)="CopyInputMessage(linkCopyElement)" class="short-link-wrapper">
        <span>
          <i class="material-icons">
            link
          </i>
          <input type="text" #linkCopyElement class="mat-card-short-url" value="{{element.shortLink}}"
            readonly="readonly">
        </span>
      </div>
      <br>


      {{element.firstName}}
      {{element.lastName}} <br>
      <br>
      <b>
        <div class="long-link-wrapper">
          <a class="long-link" href={{element.link}}>
            {{element.link | slice:0:35}}...
          </a>
        </div>


      </b>
      <br>

      <b>Количество переходов по ссылке </b>
      {{ element.counter }}
      <br>
      <br>


      <button mat-flat-button class="mat-button" color="primary"
        (click)="GetItemById(element.id, 'viewItem'); displayService.title='Подробнее об элементе';">
        <i class="material-icons">
          view_module
        </i>
        подробнее
      </button>
      <button mat-flat-button class="mat-button" color="primary"
        (click)="GetItemById(element.id, 'addNew'); displayService.title='Ссылка №' + element.id;">
        <i class="material-icons">
          edit
        </i>
        изменить
      </button>
      <button mat-flat-button class="mat-button" color="primary"
        (click)="DeleteItem(element.id); displayService.title='Список ссылок';">
        <i class="material-icons">
          clear
        </i>
        удалить
      </button>
      <br>
      <br>
    </mat-card>
  </div>




  <!-- addNew -->
  <app-new-item-page *ngIf="displayService.display==='addNew'"> </app-new-item-page>
  <br>

  <!-- подробная информация -->
  <mat-card *ngIf="displayService.display==='viewItem'">

    <mat-card-content>
      <div class="img-wrapper">
        <img class="img" src="/assets/qrr/{{item.qrPath}}">
      </div>
      <span>
        <br>
        Ссылка: <a href="{{item.link}}">{{item.link | slice:0:35}}...</a> <br>
        Короткая ссылка: <a href="{{item.shortLink}}">{{ item.shortLink }}</a> <br>
        Количество проосмотров по ссылке: {{item.counter}} <br>
      </span>

      <br>

      <button mat-flat-button class="mat-button" color="primary" type="submit"
        *ngIf="displayService.display==='viewItem'"
        (click)="displayService.title='Список ссылок'; displayService.display='list';">
        <i class="material-icons">
          arrow_back
        </i>
        Обратно
      </button>
      <br>
      <br>

    </mat-card-content>
  </mat-card>
  <!-- конец раздела подробная информация -->

  <br>
  <br>
  <br>


</div>